<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>DiskAlert Dashboard</title><!-- HomeData:
    DiskStatus
    -->
    <script type="text/javascript">
        function init() {
            // 1. Inject the JSON string into a multi-line JavaScript string using backticks (`)
            const HOMEDATA_JSON_STRING = `{{marshalJSON .}}`;

            // 2. Parse the string into a valid JavaScript object
            const HOMEDATA = JSON.parse(HOMEDATA_JSON_STRING);

            console.log("Successfully loaded template data to json for easy of access", HOMEDATA);
            window.HOMEDATA = HOMEDATA;
        }
        init();
    </script>
</head>

<body>
    <div class="border">
        <button id="subscribe-btn">Subscribe</button>
        <button id="unsubscribe-btn">Unsubscribe</button>
        <a href="/download/cert" target="_blank" rel="noopener noreferrer">
            <button>Download Cert</button>
        </a>
        <button id="test-notification-all">Test Notification (all)</button>
        <div class="border" style="padding:0.2em; display:inline-block;">
            <input type="text" placeholder="endpoint stored in the database" id="test-notification-endpoint">
            <button id="test-notification">Test Notification</button>
        </div>
    </div>
    <div class="border">
        {{range .DiskStatus.Records}}
        <div class="border" id="{{.UUID}}" style="display:flex;">
            <pre>{{marshalJSON .}}</pre>
            <div class="chart-wrapper-{{.UUID}}" style="height:100%; min-height: 10rem; flex-grow: 1;">
                <canvas id="chart-canvas-{{.UUID}}" style="width: 100%; height: 100%"></canvas>
            </div>
        </div>
        {{end}}
    </div>
    <div class="border">
        <div class="border">
            <p>my subscription data:</p>
            <pre id="subscription-data">

            </pre>
        </div>
        <pre id="subscriptions">
            all the subscriptions datas of the server here
        </pre>
    </div>
    <!-- order matters -->
    <script src="/public/lib/jquery-3.7.1.min.js"></script>
    <script src="/public/lib/moment.min.js"></script>
    <script src="/public/lib/chart.umd.min.js"></script>
    <script src="/public/lib/chartjs-adapter-moment.min.js"></script>
    <script src="/public/index.js"></script>
</body>

</html>